@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.corpo{
    font-family: "roboto";
    height: 100vh;
    background-color: #000;
}

.container{
    padding: 35px;
    background-color: #F7F7F7;
    display: grid;
    grid:
    "principal propaganda" 56px
    "principal lista" 359px /
    543px 270px;
    grid-gap: 20px 17px;
    
}

.principal{
    grid-area: principal;
}

.propaganda{
    grid-area: propaganda;
}

.lista-de-videos{
    grid-area: lista;
}

.corpo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo .container{
    width: 900px;
    height: 415px;
}

.corpo .container .principal video{
    border: 1px solid lightgray;
    margin-bottom: 12px;
    height: 217px;
}

.corpo .container .principal .descricao h1{
    font-size: 18px;
    margin-bottom: 7px;
}

.corpo .container .principal .descricao .visualizacao,
.corpo .container .lista-de-videos .descricao h2{
    font-size: 14px;
}

.corpo .container .principal .descricao .descricao-principal{
    font-size: 16px;
    max-width: 538px;
    margin-top: 9px;
}

.corpo .container .lista-de-videos .item-lista{
    display: flex;
}

.corpo .container .lista-de-videos .item-lista img{
    margin: 0 4px 16px 0;
}

.corpo .container .lista-de-videos .item-lista h2{
    margin-bottom: 7px;
}


.corpo .container .lista-de-videos .item-lista p{
    font-size: 11px;
    margin-bottom: 5px;
}